@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  color: rgb(55, 53, 47);
  font-family: 'Source Serif 4', Georgia, serif;

  font-kerning: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: normal;
  line-height: 1.7;
}

body {
  padding-left: 1rem;
  padding-right: 1rem;
}

