@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  color: rgb(55, 53, 47);
  font-family: Inter, sans-serif;
  font-size: 1.125rem;

  font-kerning: none;
  text-rendering: optimizeSpeed;
  letter-spacing: normal;
}

body {
  padding-left: 1rem;
  padding-right: 1rem;
}

