.page {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-bottom: 4rem;
  text-align: left;
  font-size: 1rem;
  hyphens: auto;

  .page-title {
    font-size: 1.75rem;
    font-weight: 600;
    font-family: Lora, serif;
  }

  .page-content {
    p {
      margin-bottom: 0.75rem;
    }
  
    a {
      color: rgb(0, 87, 188);
      cursor: pointer;
    
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Home page
.page-home {
  ul.blog-list {
    list-style: disc;
    padding-left: 2rem;
    padding-top: 0.5rem;

    li {
      margin-top: 5px;
      span {
        display: inline-block;
        min-width: 3rem;
      }
      a {
        color: rgb(0, 87, 188);

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// Work page
.page-work {
  ul {
    list-style: disc;
    padding-left: 2rem;
    padding-top: 0.5rem;

    li {
      a:hover {
        text-decoration: underline;
      }
    }
  }
}

// Blog page
.page.page-blog {
  .blog-date {
    margin-bottom: 1.5rem;
    font-size: .875rem;
    color: #5a5d60;
    font-family: Lora, serif;
  }
}

// About Page
.page.page-about {
  div.profile-photo-section {
    margin-top: 1rem;
    margin-bottom: 1.5rem;

    img.profile-photo {
      border-radius: 50%;
    }
  }
}

