.page {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  text-align: left;
  font-size: 1.125rem;

  .page-title {
    font-size: 1.75rem;
    font-weight: 700;
  }

  .page-content {
    margin-top: 1.5rem;

    p {
      margin-bottom: 0.75rem;
    }
  
    a {
      color: rgb(0, 87, 188);
      cursor: pointer;
    
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Blog page
.page.page-blog {
  .blog-date {
    font-size: 1rem;
    color: #5a5d60;
  }
}

// About Page
.page.page-about {
  div.profile-photo-section {
    margin-top: 1rem;
    margin-bottom: 1.5rem;

    img.profile-photo {
      border-radius: 50%;
    }
  }
}

