.page-home {
  text-align: center;

  div.profile-photo-section {
    margin-top: 4rem;

    img.profile-photo {
      border-radius: 50%;
    }
  }

  div.name {
    margin-top: 2rem;
    font-weight: 700;
    color: #292b2d;
    font-size: 4rem;
  }

  div.title {
    font-size: 1.5rem;
    color: #808080;
  }

  section.nav {
    margin-top: 2.5rem;
    text-align: center;
    color: rgb(107, 114, 128);

    a {
      padding: 0 .5rem;
    }
  }
}